/*.top{
    background-color: #ff8433;
    box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.08);
    height: 70px;
}

.dashboard{
  opacity: 0.8;
  font-family: ProximaNova;
  font-size: 17px;
  text-align: left;
  color: #ffffff;
  padding-top: 20px;
  padding-left: 20px;

}

span.choose-app{
  font-family: ProximaNova;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #ffffff;
}
.Log-in{
    padding-left: 5px;
    padding-right: 5px;
}
.logo{
    margin-top: 17px;
}
.side-bar{
  height: 954px;
  background-color: #ffffff;
  box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.08);
}
.rectangle{
  width: 100%;
  height: 60px;
  background-color: rgba(245, 246, 248, 0.7);
}
.rectangle-box{
    margin-bottom:20px;
}
.note{
    padding-top:5px;
    padding-bottom:10px;
    padding-right: 28px;
    border-bottom: 1px solid #f5f6f8;
}
.add-a-note{
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  color: #ff8433;
  padding-left: 5px;
}

a.add-a-note{
  font-family: ProximaNova;
  font-size: 14px;
  font-weight: 600;
  color: #ff8433;
  padding-left: 5px;
  text-decoration:  none;
}

.outer-circle{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border:1px solid #e7e9ef;
    margin-left: 25px;
    margin-top: 10px;
    padding: 4px;
}

.inner-circle{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #f5f6f8;
}
.detail-logo-container{
    float: left;
}
.detail-info{
    padding-left: 9em;
    text-align: left;
    width: calc(100% + 2px);
}
.subscription{
    margin-top: 20px;
    margin-bottom: 10px;
}

.trigger{
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #2196f3;
}
.step-label{
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #3b515a;
}

a.setup{
    text-decoration: none;
    color: #3b515a;
}
.sub-step-link{
    float: left;
    width:100%;;
    margin-top: 20px;

}

a.sub-step-link{
  opacity: 0.6;
  font-family: ProximaNova;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #3b515a;
  text-decoration: none;
}

a.sub-step-link:hover{
  opacity: 0.6;
  font-family: ProximaNova;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #3b515a;
  text-decoration: none;
}
.left-paddng{
    margin-right: 10px;
}
.choose-trigger{
  font-family: ProximaNova;
  font-size: 20px;
  text-align: center;
  color: #354052;
  padding: 20px 30px;
  border-bottom: 1px solid #ff8433;
}
.content-area{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.serach-apps{
    padding-left:25px;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(245, 246, 248, 0.7);
}

.search-hundred-of-apps{
  opacity: 0.5;
  font-family: ProximaNova;
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #354052;
  padding-left: 8px;
}
.your-app-popular-app{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.your-app-popular-app a{
  display: inline-block;
  font-family: ProximaNova;
  font-size: 16px;
  text-align: center;
  color: #354052;
  text-decoration: none;

}

.active{
    color:#ff8433;
}*/


.topbar{
    width: 100%;
    background-color: #ff8433;
    box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.08);
    font-size: 14px;
    color: #fff;
    padding: 10px 24px;
}
.topbar .dropdown-menu{
    border: none;
    padding: 2px;
}
.topbar-left{
    display: inline-block;
    width: 50%;
}
.topbar-left > span{
    font-weight: 600;
}
.topbar-center{
    display: inline-block;
}
.topbar-right{
  display: inline-block;
  float: right;
}
.topbar-right button{
  margin: 0 12px;
}
.warning{
    color: red !important;
    font-size: 18px;
    font-weight: bold;
}
.sidebar{
    /*margin-bottom: 24px;*/
    display: flex;
    flex-direction: column;
    flex: 100;
    height: inherit;
    /*margin-bottom: 50px;*/
    /*width: 20%;*/
    width: inherit;
    min-width: 300px;
    float: left;
    /*height: 100vh;*/
    overflow-y: auto;
    /*box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);*/
    background-color: #fff;
    padding-right: 10px;
    padding-top: 16px;
}
.content-main{
    /*width: 100%;*/
    /*height: 100vh;*/
    /*padding: 24px;*/
    /*margin: 24px 24px 0 24px;*/
    background-color: #f5f6f8;
    /*margin-bottom:25px;*/
    overflow-x: hidden;
    padding: 24px;
    height: calc(100vh - 72px);
}
.g-dropdown{
    
}

.pad-10{
    padding:10px;
}
.pad-l-10{
    padding-left: 10px;
}
.content{

    background-color: #ffffff;
  /*box-shadow: 10px 0 20px 0 rgba(0, 0, 0, 0.08);*/
  border: solid 1px #f5f6f8;
  width: 100%;
}
.content-head{
  
    font-size: 20px;
    text-align: center;
    color: #354052;
    padding: 24px 0px;
    /*border-bottom: 2px solid #ff8433;*/
}

.toggle-button{
    display: none;
    outline: none !important;
}
.toggle-bar{
    color: #fff;
    cursor: pointer;
    outline: none !important;
}
/*========for toggle side menu========*/
@media only screen and (max-width: 1023px) {
    .toggle-button{
        display: block;
    }
    /*.sidebar{
        width: 0px;
        display: none;
    }*/
    .content-main{
        /*padding-left: 25px;*/
    }
    .width-350{
        width: 350px;
        display: block;
    }
    /*.pad-350{
        padding: 25px 25px 25px 375px;
        display: block;

    }*/

       .pad-350{
        padding: 25px 25px 25px 25px;
        display: block;

    }

}
@media only screen  and (max-width: 767px) {
    body .sidebar {
        float: none;
        width: 100%;
        z-index: 9999;
    }
    .content-main.pad-350 {
        display: block;
        padding-left: 0;
    }
}

/*side bar*/

.rectangle{
  width: 100%;
  height: 60px;
  background-color: rgba(245, 246, 248, 0.7);
  outline: 0;
  border: 0;
  padding-left: 24px !important;

}
.rectangle-box{
    /*margin-bottom:20px;*/
}
.note{
    padding: 18px 24px;
    border-bottom: 1px solid #f5f6f8;
}
.add-a-note{

  font-size: 14px;
  font-weight: 600;
  color: #ff8433;
  padding-left: 5px;
}
a.add-a-note{

  font-size: 14px;
  font-weight: 600;
  color: #ff8433;
  padding-left: 5px;
  text-decoration:  none;
}
a.add-a-note{

  font-size: 14px;
  font-weight: 600;
  color: #ff8433;
  padding-left: 5px;
  text-decoration:  none;
}

.outer-circle{
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border:1px solid #e7e9ef;
    padding: 4px;
}

.inner-circle{
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: #f5f6f8;
}

.detail-info{

}
.subscription{
    margin-top: 20px;
    margin-bottom: 10px;
}

.trigger{
 
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #2196f3;
}
.step-label{

  font-size: 16px;
  font-weight: 600;
  text-align: left;
  color: #3b515a;
}

a.setup{
    text-decoration: none;
    color: #3b515a;
}
.sub-step-link{
    float: left;
    width:100%;
    /*cursor: pointer;*/
    /*margin-top: 20px;*/

}

a.sub-step-link{
  opacity: 0.6;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #3b515a;
  text-decoration: none;
  padding: 8px;
  margin: 0px;
}


.no-disable-menu{
    cursor:pointer !important;
    color:black !important;
    font-weight: 500;
    font-family: proxima_novabold;
}


/*a.sub-step-link {
    opacity: 0.8;
    font-size: 14px;
    font-weight: 600;
    text-align: left;
    color: #3b515a;
    text-decoration: none;
    padding: 8px;
    margin: 0px;
    font-family: proxima_novabold;
}*/

a.sub-step-link:hover{
  opacity: 0.6;
 
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  color: #3b515a;
  text-decoration: none;
}
.left-paddng{
    margin-right: 16px;
    width: 18px;
    height: 20px;
}
.choose-trigger{

  font-size: 20px;
  text-align: center;
  color: #354052;
  padding: 20px 30px;
  border-bottom: 1px solid #ff8433;
}

.search-apps {
    border: none;
    width: 100%;
    padding: 10px 16px;
    height: 50px;
    border: 2px solid #C0C0C0;
    /*background-color: rgba(245, 246, 248, 0.7) !important;*/
}
.search-apps:focus {
    /*border: 1px solid #ff8433;*/
    outline: 0;
}

.navset {
    /*padding-bottom: 30px;*/
    padding-bottom: 23px;
    min-height: 71px;
    padding-left: 100px;
    position: relative;
}
.outer-circle {
    left: 15px;
    position: absolute;
    top: -7px;
}
.innersec {
    overflow: hidden;
}


.nav-line {
  background: #e7e9ef none repeat scroll 0 0;
  bottom: -13px;
  left: 49px;
  position: absolute;
  top: 63px;
  width: 1px;
  z-index: 999;
}

.nav-line2 {
  background: #e7e9ef none repeat scroll 0 0;
  bottom: 15px;
  left: 49px;
  position: absolute;
  top: 63px;
  width: 1px;
  z-index: 999;
}

.logo-image{
    text-align: center;
    padding-top: 15px;
}

.left-carret{
    padding-left: 40px;
}
.dashbrd-pointer{
    cursor: pointer;
    margin-left: 16px;
    font-size: 18px;
    /*line-height: 14px;*/
}
.history-pointer{
    margin-left: 16px;
    font-size: 18px;
}


.sidebar-active{
    background-color: #ff8433 !important;
    border-radius: 4px;
}
.inner-menu{padding-top: 10px;}
/*.nav-line2 {
    display: none;
}
.collapse.in + .nav-line2 {
    height: auto
}*/

.search-head .dropdown-menu{
    width: 100%;
    cursor: pointer;
}
.search-head ul li{
    padding: 15px 0;
    /*margin-left: 20px;*/
}
.active{
    color: #333;
    background-color: rgba(245, 246, 248, 0.7);;
    outline: none;
}
.search-head .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    color: #333;
    background-color: rgba(245, 246, 248, 0.7);
    outline: none;
}
.noCursor{
    cursor: default;
}

/*Your Apps*/

.your-apps{
    text-align: center;
    padding: 18px;
    border: solid 1px #f5f6f8;
}
.your-apps a{
    height: 20px;
    font-size: 16px;
    text-align: center;
    color: #ff8433;
    border-bottom: 2px solid #ff8433;
    padding-bottom: 20px;
    text-decoration: none;
    cursor: default;
}
.your-apps-logo img{
    width:40px;
    height:40px;
    margin: 40px;
}

.continue-div{
    text-align: right;
}
.continue-button{
    background-color: #ff8433;
    /*height: 20px;*/
    width: 150px;
  
    border: none;
    color: white;
    padding: 10px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 18px 10px;
    cursor: pointer;
    /*border-radius: 4px;*/
    font-weight: 600;
    outline: 0;
}

.allApp-img{
    width: 100px;
    height: 100px;
}
.allApp-pad{padding: 15px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.allApp-name{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
}
.allApp-a{
    cursor: pointer;
    outline: none;
    text-decoration: none;
}
.allApp-main{
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    background-color:#fff;
    color: #000;
}
.allApp-main:hover{
    /*border: 2px solid #ff8433;*/
}


.progress-logo{
    width: 30px;
    height: auto;
}

.loading{
    position: fixed;
    z-index: 20000;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100%
}
.loading-img{
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.loading-test{
    position: relative;
    padding-bottom: 50px;
}
.loading-img-test{
    position: absolute;
    top: 50px;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
     transform: translate(-50%,-50%);
}
.sidebar-section{
    display: flex;
    flex-direction: row;

}

.appmain.inactivestyle{
    background-color: #eee;
    cursor: not-allowed;
    border: 1px solid #eee;
    opacity: 0.5;
}
.appmain.inactivestyle:hover{
    background-color: #eee;
    cursor: not-allowed;
    border: 1px solid #eee;
    opacity: 0.8;
}
.sidebar-section .inactivestyle{
    border: 1px solid #eee;
    opacity: 0.7;
}



body {
  /*background: #f5f6f8 ;*/

}



.appmain:hover {
    /*border-color: #ff8433;*/
}

.appmain {
    border: 2px solid #fff;
    padding: 20px;
    display: inline-block;
    /*background-color: #eee;*/
}

@media only screen and (min-width: 1199px) {
.appmain {
    border: 2px solid #fff;
    display: inline-block;
    min-width: 200px;
    padding: 20px;
}
}
.b-selected-app{
    border-color: #ff8433;
}
@media only screen and (min-width: 1023px) {

.leftfull {
  background: #fff none repeat scroll 0 0;
  bottom: 0;
  /*box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.2);*/
  left: 0;
  position: absolute;
  top: 60px;
  /*width: 272px;*/
}
.leftfull + .sidebar {
  box-shadow: none;
}
}
@media only screen and (max-width:767px) {
.topbar {
  color: #fff;
  font-size: 12px;
}
}


.disable-menu{
    cursor: default;
}

.search-head{
    padding: 0 2px;
}
.search-head img{
width: 25px;
}


/*DropDown*/
img.ng-scope {
    width: 25px;
}
span.ng-binding.ng-scope {
    font-size: 15px;
}
span.ng-binding {
    font-size: 15px;
}