/*=========help page=======*/
.help-main{
    height: 178px;
    background-color: #ffffff;
    box-shadow: -2px 4px 9px 0 rgba(143, 142, 162, 0.3);
    font-size: 16px;
    color: #332d87;
    text-align: center;
    position: relative;
    margin-top: 35px;
}

.help-inner {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.help-margin{margin-top: 5px;}
.help-link{
    outline: none;
    text-decoration: none;
    color: #332d87;
    cursor: pointer;
}
.help-link:active,.help-link:hover,.help-link:visited,.help-link:focus{
    outline: none;
    text-decoration: none;
    color: #332d87;
}