<div class="layout-row layout-align-center-center signup-style">
  <div class="card-signup layout-column layout-align-center-center">
    <div class="card">
      <img src="app/image/logo.png" class="logo-image-style" />
      <!--<div class="layout-row w-100">-->
      <!--<input class="signup-input" ng-model="first_name" type="text" placeholder="First Name">-->
      <!--<input class="signup-input" ng-model="user_name" type="text" placeholder="User Name" ng-change="checkUserRegister();">-->
      <!--<div ng-cloak style="color:red;">{{userGreetingMessage}}</div>-->
      <!--</div>-->
      <!--<input class="signup-input" ng-model="signup_email" type="email" placeholder="Email" ng-change="checkUserEmail();">
        <div ng-cloak style="color:red;">{{emailGreetingMessage}}</div>-->
      <input class="signup-input" ng-model="reset_password" type="password" placeholder="New password">
      <input class="signup-input" ng-model="confirm_password" type="password" placeholder="Confirm password">
      <button class="signup-submit-btn" type="submit" ng-click="resetPassword()">Confirm</button>
      <div ng-cloak style="color:red;">{{message}}</div>
      <!--<div style="font-weight: 500;color: red;margin-bottom: 10px;">{{Msg}}</div>-->
      <div ng-cloak ng-show="successClr" style="color:#14c528;font-weight: 500;margin-bottom: 10px;">{{SuccessMsg}}</div>
      <div ng-cloak ng-show="errorClr" style="color:red;font-weight: 500;margin-bottom: 10px;">{{ErrorMsg}}</div>
      <div style="color:#d8d8d8;font-family: Helvetica;text-align:center;">Already have an account? <a ui-sref="page.login" style="color:#f29b20;cursor:pointer;">Log in</a></div>
    </div>
  </div>
  <div class="side-signup hide-sm hide-xs">
    <div class="side-signup-top"></div>
    <div class="side-signup-main layout-row layout-align-center-center">
      <img src="app/image/graphic.png" style="height:100%;">
    </div>
    <div class="signup-side-footer">
      <img src="app/image/bottom-pic.png">
    </div>
  </div>
</div>
