<div class="topbar layout-row layout-align-space-between-center">
  <div class="topbar-left"><span class="dashbrd-pointer" ui-sref="dashboard">Dashboard  </span>
    <div class="toggle-button pull-left" ng-click="openLeftMenu()" id="toggleSideMenu"> <i class="fa fa-bars fa-lg toggle-bar" aria-hidden="true"></i> </div>
  </div>
  <div class="topbar-center" ui-sref="dashboard"> <img src="app/image/Logo_small.png" style="width: 40px;cursor:pointer"></div>
  <div>
    <div class="dropdown">
      <button class="btn dropdown-toggle p-toogle-btn" type="button" data-toggle="dropdown" style="outline:none;"><i class="material-icons" style="color:#ffffff;">settings</i>
              <!--<span class="caret"></span>-->
              <!--<md-tooltip>Settings</md-tooltip>-->
            </button>
      <ul class="dropdown-menu">
        <li style="height:42px;"><a ng-click="getProfile()" class="p-anchor"><i class="fa fa-user margin-r-16" aria-hidden="true"></i>Account</a></li>
        <li style="height:42px;"><a ng-click="logout()" class="p-anchor"><i class="fa fa-sign-out margin-r-16" aria-hidden="true"></i>Log out</a></li>
      </ul>
    </div>
  </div>
</div>
